.chart-container {
	display: flex;
	padding: 20px;
	.company-navigation {
		width: 600px;
		padding: 10px 20px 10px 30px;
		.chart-item {
			width: 100%;
			display: flex;
    		margin-bottom: 15px;
			img {
				width: 100%;
			}
		}
	}
	.company-chart {
		padding: 10px;
		h1 {
			font-family: "Hind-Light";
			font-weight: initial;
			color: #fff;
			font-size: 40px;
		}
		.main-chart {
			width: 100%;
			display: flex;
			margin-bottom: 15px;
			img {
				width: 100%;
			}
		}
		.measurement-table {
			background-color: #151B24;
			padding: 30px;
			border-radius: 14px;
			table {
				width: 100%;
				font-family: "Hind-Light";
				font-weight: initial;
				color: #D1D1D1;
				font-size: 12px;
				text-align: left;
				border-spacing: 0;
				tr {
					th {
						border-top: 1px solid #D1D1D1;
						border-left: 1px solid #D1D1D1;
						padding: 18px 18px;
						&:last-child {
							border-right: 1px solid #D1D1D1;
						}
						p {
							display: inline-block;
							margin-left: 4px;
							font-size: 18px;
						}
					}
					&:first-child {
						th:first-child {
							border-top-left-radius: 14px;
						}
						th:last-child {
							border-top-right-radius: 14px;
						}
					}
					&:last-child {
						th {
							border-bottom: 1px solid #D1D1D1;
						}
						th:first-child {
							border-bottom-left-radius: 14px;
						}
						th:last-child {
							border-bottom-right-radius: 14px;
						}
					}
				}
			}
				
			table tr.even td {background:#eee}
			
			// table tr:last-child td:first-child {
			// 	-moz-border-radius-bottomleft:10px;
			// 	-webkit-border-bottom-left-radius:10px;
			// 	border-bottom-left-radius:10px}
				
			// table tr:last-child td:last-child {
			// 	-moz-border-radius-bottomright:10px;
			// 	-webkit-border-bottom-right-radius:10px;
			// 	border-bottom-right-radius:10px}
		}
	}
}