.company-table {
	display: flex;
	color: white;
	justify-content: center;
	flex-wrap: wrap;
	font-size: 0.5em;

	.table-cell {
		border: 1px solid rgb(255, 195, 127);
		background-color: rgb(161, 161, 161);
		width: 50px;
	}
}
