.chart-item {
	flex-grow: 1;
	width: 40%;
	// min-width: 220px;
	height: 150px;
	padding: 5px;
	margin: 5px;
	margin-bottom: 5px;
	border-radius: 6px;
	background-color: lightgrey;
	font-size: 5px;
	overflow: hidden;
	.date-ranges span {
		background-color: rgb(61, 61, 61);
		color: white;
		border-radius: 4px;
		padding: 2px 3px 2px 2px;
		font-size: 7px;
		margin-right: 5px;
		position: relative;
		bottom: 5px;
		cursor: pointer;
	}
}
