.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255,255,255,0.25);
    padding: 48px 150px 27px;
	.footer-left {
        display: flex;
        align-items: center;
        .logo-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            p {
                font-family: "Hind-Light";
                font-weight: initial;
                color: #fff;
                font-size: 16px;
            }
        }
        h1 {
            font-family: "Hind-Light";
            font-weight: initial;
            color: #fff;
            font-size: 56px;
            margin-left: 18px;
        }
    }
    .footer-middle {
        width: 30%;
        p {
            font-family: "Hind-Light";
            font-weight: initial;
            color: #fff;
            font-size: 20px;
            text-align: center;
        }
    }
    .menu-container {
		display: flex;
		align-items: center;
		.menu-item {
			margin-left: 78px;
			h4 {
				color: #fff;
				font-size: 32px;
				font-family: "Hind-Light";
				font-weight: initial;
				text-align: center;
			}
		}
	}
}
