.chart-directory {
	width: 100%;
	border-radius: 4px;
	display: inline-flex;
	flex-wrap: wrap;
	margin: 0px 10px 5px 10px;
	padding: 5px 10px 5px 10px;
	background-color: rgb(128, 128, 128);
	justify-content: space-between;
}
